@import "tailwindcss";

@theme inline {
  --color-background: #0A0A0A;
  --color-foreground: #E5E5E5;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* Custom hide scrollbar utility */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
