@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%; /* #0A0A0A */
    --foreground: 0 0% 90%; /* #E5E5E5 */
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

/* Custom hide scrollbar utility */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
